         body{
            background-color: #f6f6f6;

        }
        .container{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .fb{
            padding: 100px;
            width: 60%;
            margin-top: 100px;
        }
        form{
            display: flex;
            width: 300px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #ccc;
            flex-direction: column;
            gap: 10px;
        }
        input{
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
        button{
            background-color: #1877f2;
            border-radius: 5px;
            padding: 10px 20px;
            border: none;
        }
        a{
            color: #1877f2;
            text-decoration: none;
        }
        .signup{
            background-color: #42b72a;
            border: none;
        }
        img{
            margin-top: 12vh;
            margin-left: 1vh;
        }
        p{
            margin-top: 7vh;
            margin-left: 2vh;
        }